.sidebar {
    position: fixed;
    bottom: 50vh;
    left: 0; 
}

.sidebar {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.contactLogo {
    width: 20px; 
    display: block; 
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 10px;
}

.linkedin {
    padding-bottom: 5px;
}