@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

.nav {
    height: 5vh;
    font-size: 14px;
}

.menu {
    float: right;
    font-family: 'Roboto', sans-serif;
    display: table;
    margin-right: 5vh;
}

.nav li {
    list-style-type: none;
    display: table-cell; 
    vertical-align: middle;
}

li:nth-of-type(1){
    padding-right: 25px;
}
